.App {
  text-align: center;
  width : 100%;
  height : 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator{
  display: flex;
  flex-direction: column;
  background: #282c34;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.calculatorDisplay{
    width: 400px; 
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.container{
  margin: 40px 20px 20px 20px;
  text-align: center;
  width: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container-items{
  width: 81px;
  height: 40px;
  margin: 9px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.container-items:hover{
  background-color: #4C8BF5;
  color: white;
}
.container-items:active{
  background-color: #4C8BF5;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
